'use strict';
module.exports = {
  up: (queryInterface, Sequelize) => {
    return queryInterface.createTable('TodoItems', {
      id: {
        allowNull: false,
        autoIncrement: true,
        primaryKey: true,
        type: Sequelize.INTEGER
      },
      content: {
        type: Sequelize.STRING
      },
      complete: {
        type: Sequelize.BOOLEAN
      },
      createdAt: {
        allowNull: false,
        type: Sequelize.DATE
      },
      updatedAt: {
        allowNull: false,
        type: Sequelize.DATE
      },
      todoId: {
				type: Sequelize.INTEGER,
				onDelete: 'CASCADE',
				references: {
					model: 'Todos',
					key: 'id',
					as: 'todoId'
        }
      }
    });
  },
  down: (queryInterface, Sequelize) => {
    return queryInterface.dropTable('TodoItems');
  }
};

'use strict';
module.exports = {
  up: (queryInterface, Sequelize) => {
    return queryInterface.createTable('Todos', {
      id: {
        allowNull: false,
        autoIncrement: true,
        primaryKey: true,
        type: Sequelize.INTEGER
      },
      title: {
        type: Sequelize.STRING
      },
      createdAt: {
        allowNull: false,
        type: Sequelize.DATE
      },
      updatedAt: {
        allowNull: false,
        type: Sequelize.DATE
      }
    });
  },
  down: (queryInterface, Sequelize) => {
    return queryInterface.dropTable('Todos');
  }
};


models/
'use strict';
module.exports = (sequelize, DataTypes) => {
	const Todo = sequelize.define(
		'Todo',
		{
			title: {
				type: DataTypes.STRING
			}
		},
		{}
	);
  Todo.associate = function(models) {
    // associations can be defined here
    Todo.hasMany(models.TodoItem, {
			foreignKey: 'todoId',
			as: 'todoItems'
		});
  };
  return Todo;
};

//we are defining a relationship between both our models using hasMany method. Notice how it intakes 
//models parameter. The foriegnKey, in this case, the id of each TodoItem. The as attribute next to 
//foriegnKey means that on each query for a todo, 
//it will include the todo items for the above id.

// 'use strict'; this is original code
// module.exports = (sequelize, DataTypes) => {
//   const Todo = sequelize.define('Todo', {
//     title: DataTypes.STRING
//   }, {});

'use strict';
module.exports = (sequelize, DataTypes) => {
	const TodoItem = sequelize.define(
		'TodoItem',
		{
			content: { type: DataTypes.STRING },
			complete: { type: DataTypes.BOOLEAN, defaultValue: false }
		},
		{}
	);
  TodoItem.associate = function(models) {
    // associations can be defined here
    TodoItem.belongsTo(models.Todo, {
			foreignKey: 'todoId',
			onDelete: 'CASCADE'
		});
  };
  return TodoItem;
};
